HOST = '0.0.0.0' #host name of server you want to run

PORT = 5000 #port num of server you want to run

FOLLOWERS_COUNT = 40 #the followers count which we will fetch to avoid rate limiting errors

#twitter credentials
CONSUMER_KEY = '<consumerkey>'

CONSUMER_SECRET = '<consumersecret>'

ACCESS_KEY = '<accesskey>'

ACCESS_SECRET = '<accesssecret>'